<header id="header" role="banner">
	<div class="info">
		<div id="social-div">
		<ul class="social-links">
			<li><a class="fa fa-twitter twitter-btn" href="https://twitter.com/rebecca__cs" target="_blank" onclick="ga('send', 'event', 'external click', 'click', 'twitter');"></a></li>
			<li><a class="fa fa-instagram instagram-btn" href="https://instagram.com/rebecca__cs" target="_blank" onclick="ga('send', 'event', 'external click', 'click', 'instagram');"></a></li>
			<li><a class="fa fa-pinterest pinterest-btn" href="https://www.pinterest.com/rebecca_cs/" target="_blank" onclick="ga('send', 'event', 'external click', 'click', 'pinterest');"></a></li>
			<li><a class="fa fa-envelope email-btn" href="mailto:hello@rebeccacs.com" target="_blank" onclick="ga('send', 'event', 'external click', 'click', 'email');"></a></li>
			<li><a id="trigger-overlay" class="fa fa-bars" href="#"></a></li>
		</ul>
		</div>
	</div>
</header>